//Normalize CSS ================================================

//=============================================================

//Fonts=========================================================

//==============================================================

// Varibles=====================================================
// $fontfamily: ;
$minwidth: 320px;
$mw: 1170;
$ms1: $mw + 12;
$ms2: 992.98;
$ms3: 767.98;
$ms4: 479.98;
//==============================================================

// Grid==========================================================
.container {
    max-width: $mw + px;
    margin: 0 auto;
    width: 100%;
    @media (max-width: $ms1+px) {
        max-width: 970px;
    }
    @media (max-width: $ms2+px) {
        max-width: 750px;
    }
    @media (max-width: $ms3+px) {
        max-width: none;
        padding: 0 10px;
    }
}
//================================================================

body {
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    // font-family: $fontfamily;
}
